a {
  text-decoration: none;
}

.header-bar {
  width: 100%;
  height: 50px;
  background-color: #d9534f;
  position: fixed;
  z-index: 1000;
  -webkit-box-shadow: 0px 1px 2px 3px rgba(41, 43, 44, 0.5);
  -moz-box-shadow: 0px 1px 2px 3px rgba(41, 43, 44, 0.5);
  box-shadow: 0px 1px 2px 3px rgba(41, 43, 44, 0.5);
}

.brand {
  background-color: #292b2c;
  width: 180px;
  height: 95%;
  margin-top: -6px;
  margin-left: 40px;
  border-radius: 5px;
  color: #fff;
  -webkit-box-shadow: 0px 1px 6px 3px rgba(41, 43, 44, 0.5);
  -moz-box-shadow: 0px 1px 6px 3px rgba(41, 43, 44, 0.5);
  box-shadow: 0px 1px 6px 3px rgba(41, 43, 44, 0.5);
}
svg {
  font-size: 30px;
}
.brand-name {
  margin-left: 10px;
  padding-top: 10px;
  color: aliceblue;
  font-size: 20px;
}
.file-upload-btn {
  width: 30px;
  height: 80%;
  margin-top: 5px;
  margin-right: 5%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 6px 3px rgba(41, 43, 44, 0.5);
  -moz-box-shadow: 0px 1px 6px 3px rgba(41, 43, 44, 0.5);
  box-shadow: 0px 1px 6px 3px rgba(41, 43, 44, 0.5);
}
.file-upload-svg {
  background-color: #fff;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .header-bar {
    overflow-x: hidden;
  }
  .brand {
    width: 60px;
  }
  .brand-name-text {
    display: none;
  }
}
