<div class="waraper">
  <div class="row">
    <div class="col-sm-3">
      <app-rawjson></app-rawjson>
    </div>
    <div class="col-sm-7">
      <div class="chart-card">
        <h3 class="chart-heading">Pie Chart:</h3>
        <hr />
        <div style="display: block;">
          <canvas
            baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColors"
            [legend]="pieChartLegend"
          >
          </canvas>
        </div>
      </div>
      <div class="tips-box card">
        <p>tips</p>
      </div>
    </div>
    <div class="col-sm-2">
      <app-rawjson></app-rawjson>
    </div>
  </div>
  <button
    mat-raised-button
    (click)="openBottomSheet()"
    class="bottom-sheet-json"
  >
    Your JSON
  </button>
</div>

<!-- [options]="radarChartOptions" -->
