<div class="waraper">
  <div class="row">
    <div class="col-sm-4">
      <app-rawjson></app-rawjson>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <h3>Pie Chart</h3>
        <div style="display: block">
          <canvas
            baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColors"
            [legend]="pieChartLegend"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- [options]="radarChartOptions" -->
