<div class="card sidebar">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div
        class="card-header d-flex justify-content-between align-items-center"
        id="headingOne"
      >
        <h4 class="mb-0">
          <button
            class="btn btn-link collapsed text-danger"
            type="button"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            REPRESNTATION
          </button>
        </h4>
        <span class="badge badge-dark badge-pill float-right">2</span>
      </div>

      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a routerLink="/table" class="text-dark" routerLinkActive="active"
                >Table</a
              >
            </li>
            <li class="list-group-item">
              <a routerLink="/tree" class="text-dark" routerLinkActive="active"
                >Tree</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div
        class="card-header d-flex justify-content-between align-items-center"
        id="headingTwo"
      >
        <h4 class="mb-0 text-danger">
          <button
            class="btn btn-link text-danger"
            type="button"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            GRAPHS
          </button>
        </h4>
        <span class="badge badge-dark badge-pill float-right">5</span>
      </div>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a routerLink="/bar" class="text-dark" routerLinkActive="active"
                >Bar</a
              >
            </li>
            <li class="list-group-item">
              <a routerLink="/line" class="text-dark" routerLinkActive="active"
                >Line</a
              >
            </li>
            <li class="list-group-item">
              <a routerLink="/radar" class="text-dark" routerLinkActive="active"
                >Radar</a
              >
            </li>
            <li class="list-group-item">
              <a
                routerLink="/doughnut"
                class="text-dark"
                routerLinkActive="active"
                >Doughnut</a
              >
            </li>
            <li class="list-group-item">
              <a routerLink="/pie" class="text-dark" routerLinkActive="active"
                >Pie</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div
        class="card-header d-flex justify-content-between align-items-center"
        id="headingThree"
      >
        <h4 class="mb-0">
          <button
            class="btn btn-link collapsed text-danger"
            type="button"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            STATISTICS
          </button>
        </h4>
        <span class="badge badge-dark badge-pill float-right">3</span>
      </div>
      <div
        id="collapseThree"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a
                routerLink="/centraltendency"
                class="text-dark"
                routerLinkActive="active"
                >Central Tendency</a
              >
            </li>
            <li class="list-group-item">
              <a
                routerLink="/dispersion"
                class="text-dark"
                routerLinkActive="active"
                >Dispersion</a
              >
            </li>
            <li class="list-group-item">
              <a
                routerLink="/descriptive"
                class="text-dark"
                routerLinkActive="active"
                >Descriptive Statistics
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div
        class="card-header d-flex justify-content-between align-items-center"
        id="headingFour"
      >
        <h4 class="mb-0">
          <button
            class="btn btn-link collapsed text-danger"
            type="button"
            data-toggle="collapse"
            data-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            MINING
          </button>
        </h4>
        <span class="badge badge-dark badge-pill float-right">3</span>
      </div>
      <div
        id="collapseFour"
        class="collapse"
        aria-labelledby="headingFour"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cluster</li>
            <li class="list-group-item">Regression</li>
            <li class="list-group-item">Classification</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
