.card-body {
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(128, 128, 128, 1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(128, 128, 128, 1);
  box-shadow: inset 0px 0px 10px 0px rgba(128, 128, 128, 1);
}
