.card {
  margin-left: -30px;
}

/* .card-body {
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(128, 128, 128, 1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(128, 128, 128, 1);
  box-shadow: inset 0px 0px 10px 0px rgba(128, 128, 128, 1);
} */
.card-header {
  height: 50px;
  background-color: #292b2c;
}

#accordion {
  margin-bottom: 10px;
  margin-left: 10px;
}

.card-body {
  height: 84vh;
  overflow-y: auto;
}
