.card-body {
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(128, 128, 128, 1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(128, 128, 128, 1);
  box-shadow: inset 0px 0px 10px 0px rgba(128, 128, 128, 1);
}
.card-header {
  height: 50px;
}

#accordion {
  margin-bottom: 10px;
  margin-left: 10px;
}

.raw-json-card-body {
  height: 75vh;
  overflow-y: scroll;
}
