<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <a routerLink="/table" routerLinkActive="active">
        <div class="card border-warning mb-3 text-white">
          <img class="card-img" src="../assets/computer.jpg" alt="Card image" />
          <div class="card-img-overlay">
            <h5 class="card-title"><span>TABLE</span></h5>

            <div class="card-footer">
              <p>JSON to Relational Table</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="/radar" routerLinkActive="active">
        <div class="card-wrapper">
          <div class="card  border-warning mb-3 text-white">
            <img
              class="card-img"
              src="../assets/computer.jpg"
              alt="Card image"
            />
            <div class="card-img-overlay">
              <h5 class="card-title"><span>RADAR</span></h5>

              <div class="card-footer"><p>JSON to Radar Chart</p></div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="/bar" routerLinkActive="active">
        <div class="card border-warning mb-3 text-white">
          <img class="card-img" src="../assets/computer.jpg" alt="Card image" />
          <div class="card-img-overlay">
            <h5 class="card-title"><span>BAR</span></h5>

            <div class="card-footer"><p>JSON to Bar Chart</p></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="/line" routerLinkActive="active">
        <div class="card border-warning mb-3 text-white">
          <img class="card-img" src="../assets/computer.jpg" alt="Card image" />
          <div class="card-img-overlay">
            <h5 class="card-title"><span>LINE</span></h5>

            <div class="card-footer"><p>JSON to Line Chart</p></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="/doughnut" routerLinkActive="active">
        <div class="card border-warning mb-3 text-white">
          <img class="card-img" src="../assets/computer.jpg" alt="Card image" />
          <div class="card-img-overlay">
            <h5 class="card-title"><span>DOUGHNUT</span></h5>

            <div class="card-footer"><p>JSON to Doughnut Chart</p></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="/pie" routerLinkActive="active">
        <div class="card border-warning mb-3 text-white">
          <img class="card-img" src="../assets/computer.jpg" alt="Card image" />
          <div class="card-img-overlay">
            <h5 class="card-title"><span>PIE</span></h5>

            <div class="card-footer"><p>JSON to Pie Chart</p></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="/tree" routerLinkActive="active">
        <div class="card border-warning mb-3 text-white">
          <img class="card-img" src="../assets/computer.jpg" alt="Card image" />
          <div class="card-img-overlay">
            <h5 class="card-title"><span>TREE</span></h5>

            <div class="card-footer"><p>JSON to Tree Structure</p></div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
