.card {
  margin-top: 15px;
  -webkit-box-shadow: 0px 1px 6px 3px rgba(41, 43, 44, 0.5);
  -moz-box-shadow: 0px 1px 6px 3px rgba(41, 43, 44, 0.5);
  box-shadow: 0px 1px 6px 3px rgba(41, 43, 44, 0.5);
  overflow: hidden;
}
.card-title {
  background-color: #d9534f;
  width: 150px;
  height: 35px;
  margin-left: -25px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 6px 3px rgba(41, 43, 44, 0.5);
  -moz-box-shadow: 0px 1px 6px 3px rgba(41, 43, 44, 0.5);
  box-shadow: 0px 1px 6px 3px rgba(41, 43, 44, 0.5);
}
.card-title span {
  margin-left: 30px;
  top: 20px;
}

.card-footer {
  background-color: #f7f7f7;
  color: #d9534f;
  border-radius: 5px;
  margin-top: 43%;
  -webkit-box-shadow: 0px 1px 6px 3px rgba(41, 43, 44, 0.5);
  -moz-box-shadow: 0px 1px 6px 3px rgba(41, 43, 44, 0.5);
  box-shadow: 0px 1px 6px 3px rgba(41, 43, 44, 0.5);
  text-align: center;
  border-color: #d9534f;
}
