.waraper {
  margin-top: -5px;
  margin-left: 10px;
}

.chart-card {
  height: 85vh;
  margin-right: 10px;
}

.chart-heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  .bottom-sheet-json {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .col-sm-4 {
    display: none;
  }
  .bottom-sheet-json {
    position: fixed;
    z-index: 999;
    margin-top: -10%;
    margin-left: 30%;
    background-color: #292b2c;
    color: #fff;
  }
}
